@model FutureInvestmentCalculator.Models.FutureValueModel
@{
    ViewBag.Title = "Future Value Calculator";
}
<div class="container">
    <header class="jumbotron">
        <h1 class="mt-3">@ViewBag.Title</h1>
        <h2>Mandia's Finance Calculator</h2>


    </header>
    <main>
        <div class="alert alert-success alert-dismissible">
            <button class="close" data-dismiss="alert">&times;</button>
            This site is for educational purposes.
        </div>

        @*will go to the index with the post action*@
        <form asp-action="Index" method="post" class="form-horizontal">
            
            <div class="row">
                <label asp-for="MonthlyInvestment" class="control-label col-3">Monthly Investment:</label>
                <input asp-for="MonthlyInvestment" class="form-control col-3" />
                <span asp-validation-for="@Model.MonthlyInvestment" class="text-danger col"></span>
            </div>
            <div class="row">
                <label asp-for="YearlyInterestRate" class="control-label col-3">Yearly Interest Rate:</label>
                <input asp-for="YearlyInterestRate" class="form-control col-3" />
                <span asp-validation-for="@Model.YearlyInterestRate" class="text-danger col"></span>

            </div>
            <div class="row">
                <label asp-for="Years" class="control-label col-3">Number Of Years:</label>
                <input asp-for="Years" class="form-control col-3" />
                <span asp-validation-for="@Model.Years" class="text-danger col"></span>
            </div>

            <div class="row">
                <label class="control-label col-3">Future Value:</label>
                <input value="@ViewBag.FutureValue" readonly class="form-control col-3" />
            </div>
            <div class="row">
                <div class="col offset-3 pl-0">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                    <a asp-action="Index" class="btn btn-secondary">Clear</a>
                </div>
            </div>

        </form>
        </main>
</div>

